{% extends "base.html" %}

{% block title %}
    Articles by Keyword
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/articles_by_keyword.css') }}">

{% endblock %}

{% block controls %}
    <form id="keywordForm">
        <label for="keyword">Enter Keyword:</label>
        <input type="text" id="keyword" name="keyword" required>
        <button type="submit">Search</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/articles_by_keyword.js') }}"></script>
{% endblock %}
