{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/articles_by_month.css') }}">
{% endblock %}

{% block controls %}
    <label for="yearInput" class="label">Enter Year: </label>
    <input type="number" id="yearInput" class="input-field" value="2024" min="2000" max="2100">
    <div class="container">
        <button class="button" id="loadButton">Load</button>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/articles_by_month.js') }}"></script>
{% endblock %}
