{% extends "base_dashboard.html" %}

{% block content %}
    <div class="container-fluid px-4">
                <!-- Description Card -->
        <div class="card mb-4">
            <div class="card-body">
                This section shows charts related to articles by date, time, and other date/time-related metrics.
            </div>
        </div>

        <!-- Area Chart Example -->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                <a href="/articles_by_month">Articles by Month</a>
            </div>
            <div class="card-body">
                <iframe src="/articles_by_month" scrolling="no" width="100%" height="600"></iframe>
            </div>
        </div>

        <!-- Bar and Pie Charts Row -->
        <div class="row">
            <!-- Bar Chart -->
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        <a href="/recent_articles_chart">Recent Articles by Hour</a>
                    </div>
                    <div class="card-body">
                        <iframe src="/recent_articles_chart" scrolling="no" width="100%" height="600"></iframe>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-pie me-1"></i>
                        <a href="/articles_by_date_chart">Articles by Date</a>
                    </div>
                    <div class="card-body">
                        <iframe src="/articles_by_date_chart" scrolling="no" width="100%" height="600"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Another Row of Charts -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        <a href="/articles_updated_chart">Articles Updated After Publication</a>
                    </div>
                    <div class="card-body">
                        <iframe src="/articles_updated_chart" scrolling="no" width="100%" height="600"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-clock me-1"></i>
                        <a href="/last_x_hours_chart">Articles by Last X Hours</a>
                    </div>
                    <div class="card-body">
                        <iframe src="/last_x_hours_chart" scrolling="no" width="100%" height="600"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
