{% extends "base_dashboard.html" %}

{% block content %}
<div class="container-fluid px-4">
    <!-- Description Card -->
    <div class="card mb-4">
        <div class="card-body">
            This section shows charts related to keyword analysis in the articles.
        </div>
    </div>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                <a href="/top_keywords_chart">Top Keywords Chart</a>
            </div>
            <div class="card-body">
                <iframe src="/top_keywords_chart" scrolling="no" width="100%" height="600"></iframe>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                <a href="/articles_by_keyword_chart">Articles by Specific Keyword</a>
            </div>
            <div class="card-body">
                <iframe src="/articles_by_keyword_chart" scrolling="no" width="100%" height="600"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                <a href="/articles_by_keyword_count_chart">Articles by Keyword Count</a>
            </div>
            <div class="card-body">
                <iframe src="/articles_by_keyword_count_chart" scrolling="no" width="100%" height="600"></iframe>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                <a href="/popular_keywords_chart">Most Popular Keywords</a>
            </div>
            <div class="card-body">
                <iframe src="/popular_keywords_chart" scrolling="no" width="100%" height="600"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
